<!DOCTYPE html>
<!--
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
-->
<ion-view view-title="Add New Request"  ng-init="initialize()">
    <ion-nav-bar class="cingoThemeColor textWhiteColor">
        <ion-nav-buttons side="left">
            <button class="button button-icon icon  ion-chevron-left" ng-click="goBack()" style="color:white;" ></button>
        </ion-nav-buttons>
    </ion-nav-bar>
    
    <ion-content class="padding backgroundLightGreyColor">
        <div class="list list-inset">
            <form name="newRequestForm"  novalidate ng-submit="addNewRequest(newRequestForm,request)">
                <!--Changed Request details to request and removed place holder-->
            <label class="item item-input">
                <div class="input-label">
                Request
            </div>
                <input type="text" name="requestDetails" ng-model="request.details" required/>
            </label>    
            <label class="item item-input">
                 <div class="input-label">
                Request Time
            </div>
                <select ng-style="{'height': '35px'}" ng-options="choice for choice in timeOptions" ng-model="request.callbackTime"></select>
            </label>
           <label class="item item-input">
                 <div class="input-label">
                Vendors
            </div>
                <select ng-style="{'height': '35px'}" ng-options="vendor.company_name for vendor in vendors" ng-model="request.vendor" ng-if="showVendors"></select>
            </label>
                <label class="item item-input">
                 <div class="input-label">
                Department
            </div>
                <select ng-style="{'height': '35px'}" ng-options="choice for choice in departments" ng-model="request.department"></select>
            </label>
                  <label class="item item-input">
                 <div class="input-label">
                Attachment
            </div>
                No file attachments
            </label>
                <div align="center">
                <button  class="button buttonSize cingoThemeColor textWhiteColor" type="submit">
                Submit
            </button>
            </div>
            <span ng-show="shouldShowError">{{formError}}</span>
            </form>
        </div> 
    </ion-content>
</ion-view>
