<!DOCTYPE html>
<!--
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
-->

<ion-view view-title="Add New Vendor" ng-init="initialize()">
    <ion-nav-bar class="cingoThemeColor textWhiteColor">
        <ion-nav-buttons side="left">
            <button class="button button-icon icon  ion-chevron-left" ng-click="goBack()" style="color:white;" ></button>
        </ion-nav-buttons>
    </ion-nav-bar>
    <ion-header-bar class="bar bar-subheader item-input-inset">
            <i class="icon ion-search placeholder-icon"></i>
            <input placeholder="Search..." ng-keyup="searchList($event)" type="text"
                   ng-model="search"
                   ng-focus="searchFocused = true"
                   ng-blur="searchFocused = false"
                   ng-change="scrollTop()"
                   class="full-width">
            </input>
            
            <button ng-if="search.length"
                    class="button button-icon ion-android-close input-button"
                    ng-click="clearSearch()">
            </button>
           
    </ion-header-bar>
    <ion-content class="padding backgroundLightGreyColor">
<!--        <ion-list>
            <ion-item class="my-item"
                      ng-repeat="item in getVendors()"
                      item-height="getItemHeight(item)"
                      id="{{ item.isLetter ? (item.letter + '_divider') : ''}}"
                      ng-style="{'line-height': getItemHeight(item) + 'px'}"
                      ng-class="{'item-divider': item.isLetter}">
                <img class="addVendorThumbImage" ng-if="!item.isLetter" src="https://rm-core-production.s3.amazonaws.com/logos/521/medium_target_logo.jpg" >
                {{item.letter|| item.name}}
                 <button ng-if="!item.isLetter" class="button button-icon icon  ion-plus item-button-right" ng-click="" style="color:black;" ></button>
                 <div class="item-button-right" ng-if="!item.isLetter">
                 <button class="button button-icon icon ion-plus plustButtonAddVendor" ng-click="addVendor(item)">
                </button>
                 </div>
                 
            </ion-item>
        </ion-list>-->
        <ion-list ng-if="vendorLoaded">
            <ion-item class="my-item"
                      ng-repeat="vendor in sortedVendorList"
                      item-height="getItemHeight(vendor)"
                      id="{{ vendor.isLetter ? (vendor.letter + '_divider') : ''}}"
                      ng-style="{'line-height': getItemHeight(vendor) + 'px'}"
                      ng-class="{'item-divider': vendor.isLetter}">
              
                <img class="addVendorThumbImage" ng-if="!vendor.isLetter" src={{vendor.logo.url}} >
                <div>{{vendor.letter|| vendor.company_name}}</div>
                 <!--<button ng-if="!vendor.isLetter" class="button button-icon icon  ion-plus item-button-right" ng-click="" style="color:black;" ></button>-->
                 <div class="item-button-right" ng-if="!vendor.isLetter">
                 <button class="button button-icon icon ion-plus plustButtonAddVendor" ng-click="addVendor(vendor)">
                </button>
                 </div>
                
            </ion-item>
        </ion-list>
    </ion-content>
</ion-view>