<!--<!DOCTYPE html>

To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.-->


<ion-view view-title="Cingo" ng-init="initialize()" ng-controller="SettingsController">
     <ion-nav-bar class="cingoThemeColor textWhiteColor">
             <ion-nav-buttons side="right" ng-show="true">
                 <button class="button button-clear" ng-click="logOut()"><span class="nav-bar-button-white-color">Logout</span></button>
        </ion-nav-buttons>
      </ion-nav-bar>
    <ion-content class="padding backgroundLightGreyColor">
       <form name="settingsForm"  novalidate ng-submit="saveSettings(settingsForm,user,confirmPassword)">
        <div class="list list-inset">
            <!--First Name-->
             <label class="item item-input">
                <input type="text" placeholder="First Name" ng-model="user.firstName">
            </label>
            <!--Last Name-->
            <label class="item item-input">
                <input type="text" placeholder="Last Name" ng-model="user.lastName">
            </label>
            <!--Phone Number-->
            <label class="item item-input">
               <!-- <input type="tel" ui-mask="(999) 999-9999"  ng-model="user.mobile">-->
                <input type="tel" ui-mask="+99 (999) 999-9999"  ng-model="user.mobile" placeholder="Mobile" ui-mask-placeholder>
            </label>
            <!--Email--> 
            <label class="item item-input" style="line-height: 240%">
                <input type="email" placeholder="Email" name="email" ng-model="user.email" required>   
            </label>
            <!--Password-->
            <label class="item item-input">
                <input type="password" placeholder="Password" name="password" ng-model="user.password" ng-change="onPasswordChange(user.password)" required>
            </label>
            <!--Confirm Password-->
            <label class="item item-input" ng-show="passwordChanged">
                <input type="password" placeholder="Confirm Password" ng-model="confirmPassword" >
			</label>
        </div>
        
        <div class="list list-inset">
             <label class="item item-input">
                <input type="text" placeholder="Street" ng-model="user.address.street">
            </label>
            <label class="item item-input">
                <input type="text" placeholder="City" ng-model="user.address.city">
            </label>
            <label class="item item-input">
                <input type="text" placeholder="State" ng-model="user.address.state">
            </label>
            <label class="item item-input">
                <input type="text" placeholder="Zip" ng-model="user.address.zip">
            </label>
        </div>
        <center>
        <div>
        <span ng-show="shouldShowError">{{formError}}</span>    
        <button class="button cingoThemeColor textWhiteColor" type="submit">
                Save
            </button>
        <button class="button cingoThemeColor textWhiteColor" ng-click="cancel()">
                Cancel
            </button>
        </div>
        </center>
       </form>
    </ion-content>
</ion-view>
