<!--<!DOCTYPE html>

To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.-->


<ion-view view-title="Cingo">
     <ion-nav-bar class="cingoThemeColor textWhiteColor">
      </ion-nav-bar>
    <ion-content class="padding backgroundLightGreyColor">
        <div class="list list-inset">
    <form name="signinForm"  novalidate="" ng-submit="signIn(signinForm,user)">            
            <label class="item item-input">
                <input type="email" placeholder="Email" name="email" ng-model="user.email" required>
            </label>
            <label class="item item-input">
                <input type="password" placeholder="Password" name="password" ng-minlength="8" ng-model="user.password" required>
            </label>
            <span ng-show="shouldShowError">{{formError}}</span>
            <button class="button button-clear button-positive" style="float:right">
                Forgot Password
            </button>
            <button class="button button-block cingoThemeColor textWhiteColor" type="submit">
                Sign In
            </button>
            <button class="button button-block cingoThemeColor textWhiteColor" ng-click="signUp()">
                Sign Up
            </button>
    </form>
        </div>
    </ion-content>
</ion-view>
