<!DOCTYPE html>
<!--
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
-->

<ion-view view-title="Vendors" ng-init="initialize()" cache-view="false">
  <ion-nav-bar class="cingoThemeColor textWhiteColor">
      </ion-nav-bar>
    <ion-nav-buttons side="right" ng-show="true" >
        <button class="button  button-clear button-icon ion-plus" style="color:white;"
                ng-click="addNewVendor()">
        </button>
      </ion-nav-buttons>
    <ion-content class="padding backgroundLightGreyColor">         
         <ion-list ng-if="userVendorAccountsLoaded">
            <ion-item class="my-item"
                      ng-repeat="vendor in userVendorAccounts"
                      >
                <img class="addVendorThumbImage" src={{vendor.logo.url}} >
                <p style='top:40%;left: 40%;position: absolute !important'>{{vendor.company_name}}</p>
 
            </ion-item>
        </ion-list>     
    </ion-content>
</ion-view>
