/* Empty. Add your own CSS if you like */
.cingoThemeColor{
    background: #0ac775;
}

.textWhiteColor{
    color: #FFFFFF;
   
}

.buttonSize{
    width: 150px;
    height: 45px;
    border-radius: 5px
}

.facebookColor{
    background: #3b5998;
}

.googlePlusColor{
    background:  #d34836;
}

.twitterColor{
    background: #00aced;
}

.tab-item.tab-item-active, .tab-item.active, .tab-item.activated {
    color: #0ac775;
}

/*To increase the height of the select dropdown*/
.item-select select,  .item-select select option{
  left: 75%;
}

.backgroundLightGreyColor{
    background:#f6f6f6;
}

.nav-bar-button-white-color{
    color:white;
}


/*.item img {
  height: 60px;
  width: 60px;
  float: left;
  margin-top: 20px;
  margin-right: 10px;
}*/
.addVendorThumbImage {
  width: 100px;
  float: left;
  margin: 38px 10px;
  vertical-align: baseline;
}
.aspectFitImage {
  height: 30px;
  width: 90px;
  margin: auto;
}

.centerAnyObject{
      top: 50%;
    -webkit-transform: translateY(-50%);
    -moz-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    -o-transform: translateY(-50%);
    transform: translateY(-50%);
    position: absolute !important;
    margin:0 auto;
}

.my-item.item {
  padding-top: 0;
  padding-bottom: 0;    
}

.full-width {
  width: 100%;
}

   .button-vertical-center {
    top: 50%;
    -webkit-transform: translateY(-50%);
    -moz-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    -o-transform: translateY(-50%);
    transform: translateY(-50%);
    position: absolute !important;
    margin:0 auto;
 
}

.error-container {
  margin: 5px 0;
}
 
.error-container:last-child {
    margin: 5px 0 0;
}
 
.error {
  padding: 10px 16px;
  font-family: "Arial Black", Gadget, sans-serif;
  font-size: 11px;
  text-transform: uppercase;
  color: #555;
  vertical-align: middle;
}
 
.error i {
  font-size: 24px;
  color: #B83E2C;  
  vertical-align: middle;
}
 
.last-error-container > .error {
  padding: 10px 16px 0;
}
 
.has-errors {
  border-bottom: 3px solid #B83E2C;
}
 
.no-errors {
  border-bottom: 3px solid green;
}


.popup-buttons .button{
     background: #0ac775;
}

.plustButtonAddVendor{
    top: 24px !important;
}